{% extends 'base.html' %}
{% load static %}
{% block about %}
        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="box_1620">
				<div class="banner_inner d-flex align-items-center">
					<div class="container">
						<div class="banner_content text-center">
                            <br><br><br><br><br>
							<h2>About Us</h2>
							<div class="page_link">
								<a href="index.html">Home</a>
								<a href="about-me.html">About Us</a>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        
        <!--================Home Banner Area =================-->
        <section class="profile_area">
           	<div class="container">
           		<div class="profile_inner p_120">
					<div class="row">
						<div class="col-lg-5">
							<img class="img-fluid" src="{% static 'img/anton.jpg' %}" alt="" width="450" height="680">
						</div>
						<div class="col-lg-7">
							<div class="personal_text">
								<h6>Hello Everybody, i am</h6>
								<h3>Antonio Eka Wadu Djawa</h3>
								<h4>College Student</h4>
								<p>Trust to the God with your heart, don't rely on your own understanding.</p>
								<ul class="list basic_info">
									<li><a href="#"><i class="lnr lnr-calendar-full"></i> 20th July, 2003</a></li>
									<li><a href="#"><i class="lnr lnr-phone-handset"></i> 0859 3308 6849</a></li>
									<li><a href="#"><i class="lnr lnr-envelope"></i> antonioeka30@gmail.com</a></li>
									<li><a href="#"><i class="lnr lnr-home"></i> Bandulan Street 8A 503</a></li>
								</ul>
								<ul class="list personal_social">
                                    <li><a href="https://www.facebook.com/opik.bayu"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.instagram.com/antonio.ekaa/"><i class="fa fa-instagram"></i></a></li>
                                </ul>
							</div>
						</div>
					</div>
           		</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
        	<div class="container">
        		<div class="row welcome_inner">
        			<div class="col-lg-6">
        				<div class="welcome_text">
        					<h4>About Myself</h4>
        					<p>I am Antonio Eka Wadu Djawa. I was Born at 20 July 2003 in Malang and my address at Street Bandulan 8A 503 Sukun, Malang. Now I am College Student of Institut Asia Malang, Informatics.</p>
                            <a class="btn btn-primary" href="CV_Eka.pdf" download><i class="fa fa-download"></i> My CV</a>
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="tools_expert">
        					<div class="skill_main">
								<div class="skill_item">
									<h4>After Effects <span class="counter">85</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Photoshop <span class="counter">90</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Illustrator <span class="counter">90</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Web Design <span class="counter">80</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Network Engineer <span class="counter">85</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->

        {% endblock %}